<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">全力搜</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/baidu">百度网盘</a></li>
                <li><a href="#">种子搜索</a></li>

            </ul>
        </div>
        <form action="/search/1/" class="navbar-form navbar-right" rol="search">
        <div class="form-group">
        <input name="wd" type="text" class="form-control" style="width:400px" placeholder="请输入关键词" />
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
    </div>
</nav>
